<h1>cześć jestem Kasia</h1>
<p>lubię małe kotki</p>

<table class="table">
  <thead>
    <tr>
      <th>nazwa kotka</th>
      <th>co wiemy o kotkach</th>
      <th>słodki kotek na obrazku</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
     <tr>
        <td>pfffff</td>
        <td>nie ma kotków</td>
        <td> i nie będzie</td>
        <td>haaaa haaaa!!!</td>
        
      </tr>
   
  </tbody>
</table>

<br>